body {
    // overflow-x: hidden;
    box-sizing: border-box;
    height: auto;
    background-color: #fbfbfb;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: clamp(14px, 2.5vw, 20px);
}
